
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_mentorLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark font-siz"><b>Hoş Geldin Mentor</b></h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">

        <div class="row justify-content-between p-3">

            <div class="col-lg-8">

                <!-- Default box -->
                <!-- /.card -->

                <h1 class=" mb-3 text-dark text-center">Sorulan Sorular</h1>
                <div class="card card-outline card-warning p-4">
                    <span><label class="border rounded" style="background-color: mediumpurple">web programlama</label></span>
                    <h4>SORU:</h4>
                    <div class="card-header">
                        <h3 class="card-title">Cevap bekleyen sorunun sorusu</h3>
                    </div>
                    <div class="card-body">
                        <h4 style="margin-left: -20px">CEVAP:</h4>
                        <form>
                            <textarea class="form-control" rows="5"></textarea>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="form-control btn btn-primary">Yanıtla</button>
                        <span>Soran Öğrenci: </span>Test<br />
                        <span>Soru tarihi:</span> 19.11; 22 Kasım 2020
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <div class="card card-outline card-success p-4">
                    <div class="card-header">
                        <span><label style="background-color: mediumpurple" class="border rounded back">web programlama</label></span>
                        <h4>SORU:</h4>
                        <h3 class="card-title">Cevaplanan sorunun sorusu</h3>
                    </div>
                    <div class="card-body">
                        <h4 style="margin-left: -20px">CEVAP:</h4>
                        <p>
                            cevabı  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in vol
                        </p>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <span>Soran Öğrenci: </span>Test<br />
                        <span>Soru tarihi:</span> 19.11; 22 Kasım 2020
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div class="card card-outline card-success p-4">
                    <div class="card-header">
                        <span><label style="background-color: mediumpurple" class="border rounded back">mobil programlama</label></span>
                        <h4>SORU:</h4>
                        <h3 class="card-title">Cevaplanan sorunun sorusu</h3>
                    </div>
                    <div class="card-body">
                        <h4 style="margin-left: -20px">CEVAP:</h4>
                        <p>
                            cevabı  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in vol
                        </p>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <span>Soran Öğrenci: </span>Test<br />
                        <span>Soru tarihi:</span> 19.11; 22 Kasım 2020
                    </div>
                    <!-- /.card-footer-->
                </div>

                <!-- /.card -->

            </div>

            <div class="col-lg-4">
                <!-- Profile Image -->
                <h1 style="text-align: center">ÖĞRENCİLERİM</h1>
                <div class="mt-4 card card-primary card-outline">
                    <div class="mt-1 card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/admin/dist/img/user4-128x128.jpg"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">Nina Mcintire</h3>

                        <p class="text-muted text-center">Software Engineer</p>

                        <strong><i class="fas fa-book mr-1"></i> Education</strong>

                        <p class="text-muted">
                            B.S. in Computer Science from the University of Tennessee at Knoxville
                        </p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">UI Design</span>
                            <span class="tag tag-success">Coding</span>
                            <span class="tag tag-info">Javascript</span>
                            <span class="tag tag-warning">PHP</span>
                            <span class="tag tag-primary">Node.js</span>
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>

                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="mt-4 card card-primary card-outline">
                    <div class="mt-1 card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/admin/dist/img/user4-128x128.jpg"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">Nina Mcintire</h3>

                        <p class="text-muted text-center">Software Engineer</p>

                        <strong><i class="fas fa-book mr-1"></i> Education</strong>

                        <p class="text-muted">
                            B.S. in Computer Science from the University of Tennessee at Knoxville
                        </p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">UI Design</span>
                            <span class="tag tag-success">Coding</span>
                            <span class="tag tag-info">Javascript</span>
                            <span class="tag tag-warning">PHP</span>
                            <span class="tag tag-primary">Node.js</span>
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>

                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="mt-4 card card-primary card-outline">
                    <div class="mt-1 card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/admin/dist/img/user4-128x128.jpg"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">Nina Mcintire</h3>

                        <p class="text-muted text-center">Software Engineer</p>

                        <strong><i class="fas fa-book mr-1"></i> Education</strong>

                        <p class="text-muted">
                            B.S. in Computer Science from the University of Tennessee at Knoxville
                        </p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">UI Design</span>
                            <span class="tag tag-success">Coding</span>
                            <span class="tag tag-info">Javascript</span>
                            <span class="tag tag-warning">PHP</span>
                            <span class="tag tag-primary">Node.js</span>
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>

        </div>

    </section>
    <!-- /.content -->
</div>

