@model MENTOR.Models.TotalModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MENTORUM LOGİN </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grass login & Sign up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link href="~/web2/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
    
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Barlow:300,400,500" rel="stylesheet">

</head>
<body>
    <style>
        .mul-select {
            width: 100%;
        }
    </style>

    <h1 class="header-w3ls">
        Mentorum Kayıt Formu
    </h1>
    <div class="art-bothside">
        <div class="sap_tabs">
            <h3>Lütfen rolünüzü seçin</h3>
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item"><span>MENTOR</span></li>
                    <li class="resp-tab-item"><span>ÖĞRENCİ</span></li>
                </ul>
                <div class="clearfix"> </div>
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content">
                        <div class="swm-right-w3ls">
                            <form asp-controller="Signup" asp-action="Signup">
                                <div class="main">
                                    <div class="icon-head-wthree">
                                        <h2>Mentor Kayıt</h2>
                                    </div>
                                    <div class="opacity">
                                        <div class="form-left-to-w3l">
                                            <input asp-for="mentor.Name" type="text" name="name" placeholder="İsim" required="">
                                        </div>
                                        <div class="form-left-to-w3l">
                                            <input asp-for="mentor.LastName" type="text" name="lastname" placeholder="Soyisim" required="">
                                        </div>
                                        <div class="form-left-w3l">
                                            <input asp-for="mentor.email" type="email" name="email" placeholder="Email" required="">
                                        </div>
                                        <div class="form-control" style="margin-bottom: 15px">
                                            <select asp-for="mentor.branchId" name="branchId">
                                                <option value="1">Web Programlama</option>
                                                <option value="2">Mobil Programlama</option>
                                                <option value="3">Veri Bilimi</option>
                                                <option value="4">Yapay Zeka/Makine Öğrenmesi</option>
                                                <option value="5">Genel Tavsiye</option>
                                            </select>
                                        </div>
                                        <div class="form-left-w3l">
                                            <textarea asp-for="mentor.Description" rows="4" cols="50" type="description" name="description" placeholder="Kısaca Hakkında" required=""></textarea>
                                        </div>
                                        <div class="form-right-w3ls ">
                                            <input asp-for="mentor.password" type="password" name="password" placeholder="Şifre" required="">
                                        </div>
                                        <div class="form-right-w3ls ">
                                            <input type="password" name="password" placeholder="Şifre Tekrar" required="">
                                        </div>
                                    </div>
                                    <div class="btnn">
                                        <button type="submit" value="mentor">KAYIT OL</button><br>
                                    </div>
                                    <div class="login">
                                        <label>Zaten hesabın var mı ?</label>
                                        <label style=" background-color: white"><a href="~/Login/login">Giriş Yap</a></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-1 resp-tab-content">
                        <div class="swm-left-w3ls">
                            <form asp-controller="Signup" asp-action="signUpStudent">
                                <div class="main">
                                    <div class="icon-head-wthree">
                                        <h2>Öğrenci Kayıt</h2>
                                    </div>
                                    <div class="opacity">
                                        <div class="form-left-to-w3l">
                                            <input asp-for="student.Name" type="text" name="name" placeholder="İsim" required="">
                                        </div>
                                        <div class="form-left-to-w3l">
                                            <input asp-for="student.LastName" type="text" name="lastName" placeholder="Soyisim" required="">
                                        </div>
                                        <div class="form-left-w3l">
                                            <input asp-for="student.email" type="email" name="email" placeholder="Email" required="">
                                        </div>
                                        <div class="form-left-w3l">
                                            <select asp-for="student.branch" name="branch" class="form-control" id="alan">
                                                <option disabled selected title="Alanınızı seçiniz">Alanınızı seçiniz</option>
                                                <option>Web Programlama</option>
                                                <option>Mobil Programlama</option>
                                                <option>Veri Bilimi</option>
                                                <option>Yapay Zeka/Makine Öğrenmesi</option>
                                                <option>Genel Tavsiye</option>
                                            </select>
                                        </div>
                                        <div class="form-right-w3ls ">
                                            <input asp-for="student.password" type="password" name="password" placeholder="Şifre" required="">
                                        </div>
                                        <div class="form-right-w3ls ">
                                            <input type="password" name="password" placeholder="Şifre Tekrar" required="">
                                        </div>
                                    </div>
                                    <div class="btnn">
                                        <button type="submit" value="student">KAYIT OL</button><br>
                                        <div class="login">
                                            <label>Zaten hesabın var mı ?</label>
                                            <label style=" background-color: white"><a href="~/Login/login">Giriş Yap</a></label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-icons">
        <ul>
            <li>
                <a href="#">
                    <span style="margin-bottom :20px" class="fab fa-facebook-f"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fab fa-google-plus-g"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fab fa-twitter"></span>
                </a>
            </li>
        </ul>
    </div>
    <!--<div class="copy">
        <p>&copy;2018 Grass login & Sign up Form. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
    </div>-->
    <!--js working-->
    <script src='~/web2/js/jquery-2.2.3.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <!--//js working-->
    <script src="~/web2/js/easyResponsiveTabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true // 100% fit in a container
            });
        });
        $(document).ready(function () {
            $(".mul-select").select2({
                placeholder: "Alanınızı seçiniz.", //placeholder
                tags: true,
                tokenSeparators: ['/', ',', ';', " "]
            });
        })
    </script>
</body>
</html>